<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>routeElectriqueAPI</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- lien pour avoir la carte, leaflet utilise aussi openstreetmap -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    crossorigin=""
  />
</head>
<body>
  <header class="header">
    <h1>La route électrique</h1>
  </header>

  <main class="container">

    <div class="carrousel">
      <troubadour id="carMake">Marque</troubadour> <troubadour id="carModel">modèle</troubadour> <br>
      <troubadour id="carVersion">version</troubadour> <br>
      <img src="" alt="carPicture" id="carImg"> <br>
      <troubadour>Autonomie : </troubadour><troubadour id="carAutonomie">autonomie</troubadour><troubadour> km</troubadour> <br><br> <!-- mettre le fond d'une autre couleur -->
      <button id="leftBtn">&lsaquo;-</button><button id="rightBtn">-&rsaquo;</button>
    </div>
    <br>

    <div id="distanceDiv" class="loader-hidden"> <!-- mettre le fond d'une autre couleur -->
      <abc>Distance : </abc><abc id="carDistance"></abc><abc> km</abc> <br>
      <abc>Temps : </abc><abc id="carTime"></abc> <br>
      <abc>Cout : </abc><abc id="carCout"></abc><abc> €</abc>
    </div>
    <br>

    <form id="formCity">
      <label for="strtCtyName">Indiquez votre ville de départ :</label></br>
      <input id="startCity" name="startCity" value="" /> </br>
      <label for="endCtyName">Indiquez votre ville d'arrivée :</label></br>
      <input id="endCity" name="endCity" value="" /> </br>
      <label for="chargingTimeName">Indiquez le temps de chargement de la voiture en minutes :</label></br>
      <input id="chargingTime" name="chargingTime" value="30" /> </br>
      <label for="chargingCoutName">Indiquez le cout d'une recharge en euro :</label></br>
      <input id="chargingCout" name="chargingCout" value="7.50" /> </br>
      <label for="speedName">Indiquez la vitesse moyenne en km/h :</label></br>
      <input id="speed" name="speed" value="80" /> </br>
      <input type="submit" value="Calculer l'itinéraire" /> 
    </form>
    <br>

  </main>

  <div class="loader loader-hidden"></div>

  <div id="map"></div>


  <!-- initialisation de leaflet pour afficher la carte, exécuté en premier donc mis avant les autres scripts -->
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    crossorigin=""
  ></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"
  />
  <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>


  <!-- fonctions qui appellent l'api qu'on a créé -->
  <script>
  // *** La map ***
  // initialise la carte, centrée sur paris par défaut (L = leaflet)
  const map = L.map('map').setView([48.8566, 2.3522], 13);

  // affichage de la map : mention obligatoire de openstreetmap et paramètre de zoom max pour l'user
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap contributors'
  }).addTo(map);


  // *** Récupération des voitures ***
  try {
    var cars; 
    initPageCar();
    // on met de coté un id pour savoir où on est dans le tableau de voiture 
    var indiceCars = 0;
    // on ajoute des evenements si on appui sur les fleches
    var leftBtn = document.getElementById("leftBtn");
    var rightBtn = document.getElementById("rightBtn");
    leftBtn.addEventListener("click", function (e) {
      indiceCars--;
      if (indiceCars == -1){
        indiceCars = 9;
      }
      changeCarrousel(cars[indiceCars])
    });
    rightBtn.addEventListener("click", function (e) {
      indiceCars++;
      if (indiceCars == 10){
        indiceCars = 0;
      }
      changeCarrousel(cars[indiceCars]);
    });
  } catch (err) { 
    var message = "Erreur lors de l’appel API (voiture). Veuillez réessayer. \nL'erreur renvoyée est la suivante : " + err;
    alert(message); 
  } 
  

  // *** Formulaire pour les villes -> avoir l'ininéraire ***
  var formCity = document.getElementById("formCity");
  // on crée des clusters de marker pour pouvoir mieux les gérer en groupe 
  var markers = L.markerClusterGroup();
  // on ajoute à la carte ses markers (un nouveau calque) pour afficher l'itinéraire (pointeurs/flèches)
  map.addLayer(markers);
  // variable globale pour le chemin de l'itinéraire et son style (route)
  var pathStyle = null;

  // différente couleur pour les makers 
  // pour les bornes 
  var greenIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });
  // pour l'arrivée 
  var redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  // événement du formulaire 'formCity'
  formCity.addEventListener("submit", async (event) => {
    event.preventDefault() // ne reload pas la page, permet de voir le trajet
    
    // pour le chargement 
    const loader = document.querySelector(".loader");
    loader.classList.remove("loader-hidden");
    const container = document.querySelector(".container");
    container.classList.add("loader-hidden");
    
    // on récupère les valeurs entrées dans le formulaire 
    var startCity = document.getElementById("startCity").value;
    var endCity = document.getElementById("endCity").value;
    var carAuto = document.querySelector("#carAutonomie").textContent;

    // on appelle les fonctions async en appelant l'api globale (celle qu'on a crée)
    try {
      // * on récupère/modifie les informations qu'on a besoin *
      // on récupère les coordonnées géographiques des villes d'arrivée et de départ
      var startPt = await findPtFromCity(startCity);
      var endPt = await findPtFromCity(endCity);
      // on récupère l'itinéraire complet avec les bornes
      tabTemp = await findPath(startPt, endPt, carAuto); 
      path = tabTemp[0];
      tabBorne = tabTemp[1];
      // on modifie la distance
      var distanceDiv = document.getElementById("distanceDiv");
      distanceDiv.classList.remove("loader-hidden");
      var carDistance = document.getElementById("carDistance");
      carDistance.textContent = path["features"][0]["properties"]["summary"]["distance"] / 1000; // on divise par 1000 pour le mettre en km
      // on modifie le temps 
      var speed = document.getElementById("speed").value;
      var chargeTime = document.getElementById("chargingTime").value;
      var nbCharge = tabBorne.length;
      var carTime = document.getElementById("carTime");
      carTime.textContent = await getTime(speed, carDistance.textContent, chargeTime, nbCharge);
      // on modifie le cout 
      var chargingCout = document.getElementById("chargingCout").value;
      var carCout = document.getElementById("carCout");
      carCout.textContent = await getCout(chargingCout, nbCharge);

      // * on affiche la route de l'itinéraire *
      // on enlève le précédent itinéraire (le calque)
      if (pathStyle) {map.removeLayer(pathStyle);} // attention, il ne fonctionne pas si pathStyle est null (surement car )
      // on affiche un chemin et son style à la map 
      pathStyle = L.geoJSON(path, {style: { color: "blueviolet", weight: 4 }}).addTo(map);
      // on recadre l'itinéraire (le chemin) pour avoir un meilleur visuel dessus
      map.fitBounds(pathStyle.getBounds());
      
      // * on affiche les markers (pointeurs/flèches) de l'itinéraire *
      // on clear le précédent itinéraire (le calque) pour qu'il n'y ait plus rien dans le groupe
      markers.clearLayers();
      // on crée les pointeurs/flèches pour l'arrivée et le départ 
      var marker1 = L.marker([startPt[0], startPt[1]]);
      var marker2 = L.marker([endPt[0], endPt[1]], {icon: redIcon});
      // on ajoute ces markers au groupe/cluster de marker 
      markers.addLayer(marker1);
      markers.addLayer(marker2);
      // on crée et ajoute les pointeurs pour les bornes 
      for(i = 0; i < tabBorne.length; i++){
        markerTemp = L.marker([tabBorne[i][1], tabBorne[i][0]], {icon: greenIcon});
        markers.addLayer(markerTemp);
      }

    } catch (err) { // gestion d'erreur 
      //result.textContent = "Erreur lors de l’appel API (itinéraire). veuillez réessayer."; // ICI 
      var message = "Erreur lors de l’appel API (itinéraire). Veuillez réessayer. \nL'erreur renvoyée est la suivante : " + err;
      alert(message); 
    }

    // pour enlever le chargement
    loader.classList.add("loader-hidden");
    container.classList.remove("loader-hidden");

  });

  // permet d'appeler l'api qu'on a crée et de renvoyer les coordonnées géographiques de la ville passée en paramètre (nominatim, openstreetmap)
  async function findPtFromCity(city) {
    // on appelle l'api et on récupère le résultat 
    var res = await fetch(`/api/APIcity/${encodeURIComponent(city)}`); // encodeURIComponent permet de transformer le city en string compatible
    // gestion d'erreur 
    if (!res.ok) { throw new Error("Ville introuvable. Veuillez réessayer."); }
    // on met la réponse sous forme de json pour mieux la lire 
    var data = await res.json();
    // on retourne dan sun tableau que ce qui nous intéresse, ce qui nous donne les coordonnée de la ville
    return [data.latitude, data.longitude];
  }

  // permet d'appeler l'api qu'on a crée et de renvoyer l'itinéraire entre le point de départ et d'arrivée (openrouteservice)
  async function findPath(startPt, endPt, carAuto) {
    // * on appelle l'api et on récupère le résultat *
    var bornePts = [] // une variable vide pour les borne car il n'y en a pas encore
    var res = await fetch("/api/APIpath", {             // le lien 
      method: "POST",                                   // la méthode de transmission de donnée (post ici)
      headers: { "Content-Type": "application/json" },  // le header utile pour faire la méthode post
      body: JSON.stringify({startPt, endPt, bornePts})  // les données passées dans la méthode post, ici les points de départ et d'arrivée et les bornes
    });
    if (!res.ok) { throw new Error("Itinéraire introuvable. Veuillez réessayer."); } // gestion d'erreur 
    var data = await res.json(); // on retourne le résultat de l'itinéraire sous forme de json pour pouvoir mieux le lire
    var tabPath = data["features"][0]["geometry"]["coordinates"]; // tableau de tous les points qui constituent le chemin 
    
    // * on appelle l'api qui va chercher toutes les bornes entre le point de départ et d'arrivée *
    var res = await fetch("/api/APIborne", {            
      method: "POST",
      headers: { "Content-Type": "application/json" },  // le header utile pour faire la méthode post
      body: JSON.stringify({carAuto, tabPath}) // changer ça pour prendre en param le start, le end et le carauto et le 
    });
    if (!res.ok) { throw new Error("Api de borne inaccessible."); } // gestion d'erreur 
    borne = await res.json(); // on retourne le résultat de la borne sous forme de json  

    // * on rapelle l'api pour avoir le path avec en plus toutes les bornes *
    bornePts = borne;
    var res = await fetch("/api/APIpath", {             // le lien 
      method: "POST",                                   // la méthode de transmission de donnée (post ici)
      headers: { "Content-Type": "application/json" },  // le header utile pour faire la méthode post
      body: JSON.stringify({startPt, endPt, bornePts}) // les données passées dans la méthode post, ici les points de départ et d'arrivée et les bornes
    });
    if (!res.ok) { throw new Error("Itinéraire introuvable. Veuillez réessayer."); } // gestion d'erreur 
    var data = await res.json(); // on retourne le résultat de l'itinéraire sous forme de json pour pouvoir mieux le lire
  
    return [data, bornePts];
  }

  // permet d'appeler l'api pour avoir la liste des voitures
  async function getListCars() {
    // on appelle l'api et on récupère le résultat 
    var res = await fetch(`/api/APIcars`); 
    // gestion d'erreur 
    if (!res.ok) { throw new Error("voitures introuvable. Veuillez réessayer."); }
    // on met la réponse sous forme de json pour mieux la lire 
    var data = await res.json();
    // on retourne dans un tableau que ce qui nous intéresse, ce qui nous donne les coordonnée de la ville
    return data;
  }

  async function initPageCar(){
    // on appelle l'api pour avoir la liste des voitures 
    cars = await getListCars();
    // on remplace les informations par la première voiture 
    changeCarrousel(cars[0]);
  }

  function changeCarrousel(jsonInfo){
    // on recupère les elements a modifier 
    var carMake = document.querySelector("#carMake");
    var carModel = document.querySelector("#carModel");
    var carVersion = document.querySelector("#carVersion");
    var carImg = document.querySelector("#carImg");
    var carAutonomie = document.querySelector("#carAutonomie");
    // on change ces elements 
    carMake.textContent = jsonInfo["make"];
    carModel.textContent = jsonInfo["model"];
    carVersion.textContent = jsonInfo["version"];
    carImg.src = jsonInfo["image"];
    carAutonomie.textContent = jsonInfo["autonomie"];
  }

  // permet d'appeler l'api pour avoir le temps du trajet 
  async function getTime(speed, distance, chargeTime, nbCharge) {
    // on appelle l'api et on récupère le résultat 
    var res = await fetch(`/api/APItime/${encodeURIComponent(speed)}/${encodeURIComponent(distance)}/${encodeURIComponent(chargeTime)}/${encodeURIComponent(nbCharge)}`); // encodeURIComponent permet de transformer en string compatible
    // gestion d'erreur 
    if (!res.ok) { throw new Error("Temps introuvable. Veuillez réessayer."); }
    // // on met la réponse sous forme de json pour mieux la lire 
    // var data = await res.json();
    // console.log(data);
    // on retourne dan sun tableau que ce qui nous intéresse, ce qui nous donne les coordonnée de la ville
    return res.text();
  }

  // permet d'appeler l'api pour avoir le cout du trajet 
  async function getCout(chargeCout, nbCharge) {
    // on appelle l'api et on récupère le résultat 
    var res = await fetch(`/api/APIcout/${encodeURIComponent(chargeCout)}/${encodeURIComponent(nbCharge)}`); // encodeURIComponent permet de transformer en string compatible
    // gestion d'erreur 
    if (!res.ok) { throw new Error("Cout introuvable. Veuillez réessayer."); }
    // on met la réponse sous forme de json pour mieux la lire 
    // var data = await res.json();
    // console.log(data);
    // on retourne dan sun tableau que ce qui nous intéresse, ce qui nous donne les coordonnée de la ville
    return res.text();
  }


  // TODO : 
  // x faire en sorte d'avoir un écran de chargement pour le calcul de l'itinéraire 
  // - lier le soap :
  //  - le lier au niveau du code
  //  - lier les données pour afficher les bonnes choses 
  // x faire avec les bornes 
  // x voir comment avoir le point de l'itinéraire après un certain nb de km après le départ / au autre point 
  // x faire attention de ne pas dépasser l'autonomie de la voiture 
  // x faire en sorte de recalculer l'itinéraire après avoir toutes les bornes
  // x faire avec l'api des voitures :
  //  x faire la route 
  //  x faire le carousel 
  //  x faire le lien entre carousel et données 
  //  x lier le formulaire de l'autonomie avec les données
  // - mettre des popup pour les erreurs 

</script>
</body>
</html>
